my_trip_app/macos/Flutter/ephemeral/flutter_export_environment.sh
my_trip_app/macos/Flutter/GeneratedPluginRegistrant.swift
my_trip_app/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
my_trip_app/pubspec.lock
my_trip_app/pubspec.lock
